@{
    ViewData["Title"] = "Excluir Task";
}

<div class="text-center">

    <h3>Deseja EXCLUIR essa Task?</h3>

    <button type="submit" class="btn btn-danger">Excluir</button>

    <a class="btn btn-secondary" asp-controller="Task" asp-action="Index" role="button">Cancelar</a>
</div>
