@model TaskModel
@{
    ViewData["Title"] = "Excluir Task";
}

<div class="text-center">

    <h3>Deseja EXCLUIR essa Task?</h3>

    <a class="btn btn-danger" asp-controller="Task" asp-action="Excluir" asp-route-id="@Model.Id" role="button">Excluir</a>

    <a class="btn btn-secondary" asp-controller="Task" asp-action="Index" role="button">Cancelar</a>
</div>
