@{
    ViewData["Title"] = "Cadastro";
}

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Nome</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">CPF</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Data de nascimento</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Celular</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@email.com">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">CEP</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Logradouro</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Número</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Complemento (opcional)</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Bairro</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Cidade</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Estado</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>

<button type="submit" class="btn btn-primary">Cadastrar</button>

<a class="btn btn-secondary" asp-controller="Home" asp-action="Index" role="button">Voltar</a>